<!--
  Generated template for the Noticias page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <ion-toolbar>


 <ion-buttons start>
      <button ion-button icon-only (click)="onClickP()">
        <img width="50" height="50" src="../assets/iconos/pract.svg">
      </button>
    </ion-buttons>


    <ion-title><img width="80%" height="50%" src="../assets/ios-cimogsys.svg"></ion-title>

 <ion-buttons end >
      <button ion-button icon-only (click)="onClickC()">
        <img width="40" height="40" src="../assets/iconos/contact.svg">
      </button>
    </ion-buttons>

 </ion-toolbar>

</ion-header>


<ion-content padding>

<ion-card>
  <img src="http://loremflickr.com/320/240"/>
  <ion-card-content>
    <ion-card-title>
      Nine Inch Nails Live
      </ion-card-title>
    <p>
      The most popular industrial group ever, and largely
      responsible for bringing the music to a mass audience.
    </p>
  </ion-card-content>
</ion-card>
</ion-content>
