<!--
  Generated template for the Proyectos page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    

 <ion-buttons start>
      <button ion-button icon-only (click)="onClickP()">
        <img width="50" height="50" src="../assets/iconos/pract.svg">
      </button>
    </ion-buttons>


   <ion-title>Contactos</ion-title>

 <ion-buttons end>
      <button ion-button icon-only >
        <img width="40" height="40" src="../assets/iconos/contact.svg">
      </button>
    </ion-buttons>

    
  </ion-toolbar>

</ion-header>


<ion-content padding>

<ion-title>Formulario de Contacto</ion-title>
<br>
<form>
  <ion-list>
  <ion-card>
       <ion-item>        
        <!--
        ion-icon name="person" item-left></ion-icon>
        <ion-label stacked floating>Apellido:</ion-label> -->
       <ion-label stacked><h2><b>Nombres:</b></h2></ion-label>
       <ion-input  type="text" value=""></ion-input>
       
      </ion-item>
</ion-card>
<ion-card>
       <ion-item>
       
        <ion-label stacked><h2><b>Apellido:</b></h2></ion-label>
       <ion-input type="text" value=""></ion-input>
      </ion-item>
</ion-card>
<ion-card> 
         <ion-item>      
        <ion-label stacked><h2><b>Correo:</b></h2></ion-label>
       <ion-input type="text" value=""></ion-input>
      </ion-item>
</ion-card>
<ion-card>
         <ion-item>
      
        <ion-label stacked><h2><b>Asunto:</b></h2></ion-label>
       <ion-input type="text" value=""></ion-input>
       </ion-item>
</ion-card>
<ion-card>
        <ion-item >
          <ion-label stacked><h2><b>Mensaje</b></h2></ion-label>  
  
          <ion-textarea cols="30" rows="6"  name="comment" placeholder="Mensaje"> </ion-textarea>
        </ion-item> 
</ion-card>
<ion-row >


  <ion-col text-center>
  <button ion-button round> Enviar </button>
  </ion-col>


  </ion-row>
  </ion-list>


</form>

<ion-buttons >
   <ion-row >      
 <ion-col text-center>
        <a href="http://jkanime.net/">
        <img width="40" height="40" src="../assets/iconos/fb.svg">
        </a>  
 </ion-col>


        <ion-col text-center>
        <a href="http://jkanime.net/">
        <img  width="40" height="40"  src="../assets/iconos/insta.svg">
        </a>
        </ion-col>

<ion-col text-center>
        <a href="http://jkanime.net/">
        <img  width="40" height="40"  src="../assets/iconos/twit.svg">
        </a>
</ion-col>
</ion-row>
    </ion-buttons>

</ion-content>
