page-contactos {

}

.button-md, .button-ios, .button-wp {
    color: rgb(34, 34, 34);
    background-color: #E80F0F;
}
.imgR {
	float: right
}

.imgC {
	float: center
}

.button-md, .button-ios, .button-wp {

    font-weight: bold;
}
.button-round-ios {
    padding: 2rem 2rem;
}
.button-round-wp {
    padding: 1rem 2rem;
}

.button-round-md {
    padding: 0.5rem 2rem;
}
.ion-ios-facebookCig,
.ion-ios-facebookCig,
.ion-md-facebookCig{
  content: url(../assets/iconos/fb.svg);

}

.ion-ios-twitterCig,
.ion-ios-twitterCig,
.ion-md-twitterCig{
  content: url(../assets/iconos/twit.svg);

}

.ion-ios-instagramCig,
.ion-ios-instagramCig,
.ion-md-instagramCig{
  content: url(../assets/iconos/insta.svg);

}

.button-md,
.button-ios,
.button-wp {

    color: #222;
    background-color: #c8c7cc;
}