<!--
  Generated template for the Usuarios page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

   <ion-toolbar>
    

  <ion-buttons start>
      <button ion-button icon-only  (click)="onClickP()">
        <img width="50" height="50" src="../assets/iconos/pract.svg">
      </button>
    </ion-buttons>


  <ion-title>Usuario</ion-title>

 <ion-buttons end>
      <button ion-button icon-only (click)="onClickC()" >
        <img width="40" height="40" src="../assets/iconos/contact.svg">
      </button>
    </ion-buttons>
 </ion-toolbar>
</ion-header>



<ion-content padding>




<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

<ion-list>
  <ion-item *ngFor="let post of posts">
    <ion-thumbnail item-left>
      <img src="http://loremflickr.com/320/240">
    </ion-thumbnail>
    <h2>{{post.name}}</h2>
    <p>{{post.email}}</p>
    <button (click)="onClick(post.id)">libreria</button>
  </ion-item>
</ion-list>


</ion-content>


