<ion-header>
 <ion-toolbar>

 <ion-buttons start>
      <button ion-button icon-only>
        <img width="50" height="50" src="../assets/iconos/pract.svg">
      </button>
    </ion-buttons>

    <ion-title>
      Practicas
    </ion-title>

     <ion-buttons end>
      <button ion-button icon-only (click)="onClickC()">
        <img width="40" height="40" src="../assets/iconos/contact.svg">
      </button>
    </ion-buttons>

 </ion-toolbar>
</ion-header>

<ion-content>
<div padding>
  <ion-segment [(ngModel)]="practicas">

    <ion-segment-button value="disenoGrafico" aria-pressed="true">
      Diseño Gráfico
    </ion-segment-button>
    <ion-segment-button value="desarrollo">
      Desarrollo
    </ion-segment-button>
    <ion-segment-button value="gestion">
      Gestión
    </ion-segment-button>
  </ion-segment>
</div>



<div [ngSwitch]="practicas" >
  <ion-list *ngSwitchCase="'disenoGrafico'">
    
      <h4 class="titulo">Prácticas Pre-profecionales</h4>
      <ion-card>
        <ion-card-content>
        Una imagen vectorial es una imagen digital formada por objetos geométricos dependientes (segmentos, polígonos, arcos, muros, etc.), cada uno de ellos definido por atributos matemáticos de forma, de posición, etc. 
        </ion-card-content>
</ion-card>
  

<ion-buttons >
   <ion-row >      
  <ion-col text-center>
  <button ion-button round> Enviar </button>
  </ion-col>
</ion-row>
    </ion-buttons>


  </ion-list>

  <ion-list *ngSwitchCase="'desarrollo'">
    
      
      <h4 class="titulo">Prácticas Pre-profecionales</h4>
      <ion-card>
        <ion-card-content>
        Una imagen vectorial es una imagen digital formada por objetos geométricos dependientes (segmentos, polígonos, arcos, muros, etc.), cada uno de ellos definido por atributos matemáticos de forma, de posición, etc. 
        </ion-card-content>
</ion-card>
<ion-buttons >
   <ion-row >      
  <ion-col text-center>
  <button ion-button round> Enviar </button>
  </ion-col>
</ion-row>
    </ion-buttons>

   
  </ion-list>


  <ion-list *ngSwitchCase="'gestion'">
    
      
      <h4 class="titulo">Prácticas Pre-profecionales</h4>
      <ion-card>
        <ion-card-content>
        Una imagen vectorial es una imagen digital formada por objetos geométricos dependientes (segmentos, polígonos, arcos, muros, etc.), cada uno de ellos definido por atributos matemáticos de forma, de posición, etc. 
        </ion-card-content>
</ion-card>
<ion-buttons >
   <ion-row >      
  <ion-col text-center>
  <button ion-button round> Enviar </button>
  </ion-col>
</ion-row>
    </ion-buttons>
   
  </ion-list>

  </div>
</ion-content>
