<ion-header>
 <ion-toolbar>

 <ion-buttons start>
      <button ion-button icon-only (click)="onClickP()">
        <img width="50" height="50" src="../assets/iconos/pract.svg">
      </button>
    </ion-buttons>

    <ion-title>
      Eliminar
    </ion-title>

<ion-buttons end>
      <button ion-button icon-only (click)="onClickC()">
        <img width="40" height="40" src="../assets/iconos/contact.svg">
      </button>
    </ion-buttons>
    
 </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-left></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
</ion-content>
