<!--
  Generated template for the Publicaciones page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <ion-toolbar>
    

 <ion-buttons start>
      <button ion-button icon-only  (click)="onClickP()">
        <img width="50" height="50" src="../assets/iconos/pract.svg">
      </button>
    </ion-buttons>


  <ion-title>Publicaciones</ion-title>

 <ion-buttons end>
      <button ion-button icon-only (click)="onClickC()" >
        <img width="40" height="40" src="../assets/iconos/contact.svg">
      </button>
    </ion-buttons>

 </ion-toolbar>

</ion-header>

<ion-content padding>
<div padding>
  <ion-segment [(ngModel)]="publicaciones">
    <ion-segment-button  value="Articulos">
      Articulos
    </ion-segment-button>
    <ion-segment-button  value="Libros">
      Libros
    </ion-segment-button>
  </ion-segment>
</div>

<div [ngSwitch]="publicaciones">
  <ion-list *ngSwitchCase="'Articulos'">
    <ion-item>
        <ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
   <p>>ejemplo de texto</p>

 
    </ion-item>
  
  </ion-list>
   <ion-list *ngSwitchCase="'Libros'">
    <ion-item *ngFor="let item of data"> 
 
    <div class= "list">
   <p>{{item.name}}</p>
   <p>{{item.email}}</p> 
 
   </div>
   </ion-item>
   
   

   
<ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
   
    </ion-list>

  </div>
  
<div class="list">
   <div class="item item-avatar">
     <div class="d1">
      <img src="../assets/iconos/publicacions-01.svg" height="30px" width="40px">
      
      </div>
      <h5 class="d">Avatar</h5>
   </div>
   </div>
