page-menu-inferior {

}

.ion-ios-IOS,
.ion-ios-IOS-outline,
.ion-md-IOS {
  content: url(../assets/iconos/IOS.svg);
  height:90%;
  width:70%;

}



.ion-ios-android,
.ion-ios-android-outline,
.ion-md-android {
  content: url(../assets/iconos/android.svg);
height:70%;
  width:50%;

}




.ion-ios-contactCig,
.ion-ios-contactCig-outline,
.ion-md-contactCig {
  content: url(../assets/iconos/contact.svg);
height: 70%;
  width:60%;
}




.ion-ios-notiCig,
.ion-ios-notiCig-outline,
.ion-md-notiCig {
  content: url(../assets/iconos/noti.svg);
height: 70%;
  width:60%;
}



.ion-ios-practCig,
.ion-ios-practCig-outline,
.ion-md-practCig {
  content: url(../assets/iconos/pract.svg);
height: 70%;
  width:60%;

}



.ion-ios-proyCig,
.ion-ios-proyCig-outline,
.ion-md-proyCig {
  content: url(../assets/iconos/proy.svg);
height: 80%;
  width:70%;

}


.ion-ios-publicCig,
.ion-ios-publicCig-outline,
.ion-md-publicCig {
  content: url(../assets/iconos/public.svg);
height: 70%;
  width:60%;
  
}


.ion-ios-qsomCig,
.ion-ios-qsomCig-outline,
.ion-md-qsomCig {
  content: url(../assets/iconos/qsom.svg);
height: 70%;
  width:60%;
}




.ion-ios-proyCig,
.ion-ios-proyCig-outline,
.ion-md-proyCig {
  content: url(../assets/iconos/proy.svg);

}


.ion-ios-publicCig,
.ion-ios-publicCig-outline,
.ion-md-publicCig {
  content: url(../assets/iconos/public.svg);

}


.ion-ios-qsomCig,
.ion-ios-qsomCig-outline,
.ion-md-qsomCig {
  content: url(../assets/iconos/qsom.svg);

}

