<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="notiCig"></ion-tab>
  <ion-tab [root]="tab2Root"  tabIcon="publicCig"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="proyCig"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="qsomCig"></ion-tab>
</ion-tabs>
