<!--
  Generated template for the Noticias page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <ion-toolbar>


 <ion-buttons start>
      <button ion-button icon-only  (click)="onClickP()">
        <img width="50" height="50" src="../assets/iconos/pract.svg" >
      </button>
    </ion-buttons>


    <ion-title>Noticias</ion-title>

 <ion-buttons end>
      <button ion-button icon-only (click)="onClickC()" >
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

   </ion-toolbar>

</ion-header>


<ion-content padding>

  


</ion-content>
