<ion-header>
 <ion-toolbar>


 <ion-buttons start>
      <button ion-button icon-only  (click)="onClickP()">
        <img width="50" height="50" src="../assets/iconos/pract.svg">
      </button>
    </ion-buttons>

    <ion-title>
      Editar
    </ion-title>

<ion-buttons end>
      <button ion-button icon-only (click)="onClickC()" >
        <img width="40" height="40" src="../assets/iconos/contact.svg">
      </button>
    </ion-buttons>

    
 </ion-toolbar>
</ion-header>

<ion-content>



<ion-card>

<ion-item *ngFor="let post of posts">
<div *ngIf="post.id == codigo">
 <img src="http://loremflickr.com/320/240"/>
  <ion-card-content>


  	
<ion-card-title>
      Usuario
      </ion-card-title>

  	<ion-list>
  		<ion-item>
  		
    		<ion-input placeholder="Nombre" [(ngModel)]="post.name"></ion-input>
  		</ion-item>
  		<ion-item>
  		
    		<ion-input placeholder="Email" [(ngModel)]="post.email"></ion-input>
  		</ion-item>
  	</ion-list>


    
   
  </ion-card-content>

  <ion-row no-padding>
  <ion-col>
  <button ion-button  color="primary" (click)="onGuardar(post.id)"> Guardar</button>
  </ion-col>

  <ion-col text-right>
  <button ion-button color="danger" icon-left (click)="onCancelar()">  <ion-icon name="trash"></ion-icon>  Cancelar</button>
  </ion-col>


  </ion-row>


</div>
  </ion-item>
</ion-card>




</ion-content>
