<ion-header>
 <ion-toolbar>


 <ion-buttons start>
      <button ion-button icon-only  (click)="onClickP()">
        <img width="50" height="50" src="../assets/iconos/pract.svg">
      </button>
    </ion-buttons>

    <ion-title>
      Información del Usuario
    </ion-title>


<ion-buttons end>
      <button ion-button icon-only (click)="onClickC()">
        <img width="40" height="40" src="../assets/iconos/contact.svg">
      </button>
    </ion-buttons>

    
 </ion-toolbar>
</ion-header>

<ion-content>
 
<ion-card>
<ion-item *ngFor="let post of posts">

<div *ngIf="post.id == codigo">

  <img src="http://loremflickr.com/320/240"/>
  <ion-card-content>
    <ion-card-title>
      {{post.name}}
      </ion-card-title>
    <p>
      {{post.email}}   
     </p>
  </ion-card-content>

  <ion-row no-padding>
  <ion-col>
  <button ion-button clear small color="primary" (click)="onEditar(post.id)">Editar</button>
  </ion-col>

  <ion-col text-right>
  <button ion-button clear small color="danger" (click)="onEliminar(post.id)" icon-left>  <ion-icon name="trash"></ion-icon>  Eliminar</button>
  </ion-col>


  </ion-row>


</div>
  </ion-item>
</ion-card>

 <!--
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
    <h2>you click on {{info}}</h2>
      <ion-icon name="ionic" item-left></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
  -->
</ion-content>
