<!--
  Generated template for the Proyectos page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <ion-toolbar>
    

 <ion-buttons start>
      <button ion-button icon-only  (click)="onClickP()">
        <img width="50" height="50" src="../assets/iconos/pract.svg">
      </button>
    </ion-buttons>


   <ion-title>Proyectos</ion-title>

 <ion-buttons end>
      <button ion-button icon-only (click)="onClickC()"          >
        <img width="40" height="40" src="../assets/iconos/contact.svg">
      </button>
    </ion-buttons>

    
 </ion-toolbar>

</ion-header>


<ion-content padding>

 

 <img class="imgC" src="../assets/imagenes/espoch.jpg">

<div >
  <ion-segment [(ngModel)]="pet">
    <ion-segment-button value="implementados" class="segmentColor">
      Implementados
    </ion-segment-button>
    <ion-segment-button value="enDesarrollo">
      En Desarrollo
    </ion-segment-button>

   </ion-segment>

</div>

 <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-content>
