page-proyectos {

}

.imgC {
 width:35%; height:25%;
position: relative;
left: 30%;
}

.segment-wp {
    justify-content: center;
}

.button.segment-activated {
    border-color: #757575;
    opacity: 1;
}

.segment-md .segment-button {
  
    color: #757575;
   height: 3.2rem;
}


.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated,
.segment-ios .segment-button.segment-activated {

    color: #fff;
    background-color: #757575;
    opacity: 1;
    transition: 100ms all linear;
}


.segment-ios .segment-button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 0;
    height: 3.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: #9CA2AD;
    font-size: 1.3rem;
    line-height: 3rem;
    color: #9CA2AD;
    background-color: transparent;
}







.searchbar-md .searchbar-input {
    padding: 2px 55px;
    height: auto;
    border-radius: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
    background-color: #fff;
    background-position: 8px center;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.searchbar-ios,
.searchbar-wp .searchbar-input-container {
    padding: 0 8px;
   border-radius: 20px;
}